.landingPageContainer{
  width: 100vw;
  height: 100vh;
  background: url("./public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}
.landingPageContainer nav{
  padding-inline: 1.2rem;
  padding-block: 1.6 rem;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landingPageContainer nav h2{
  font-size: 1.8rem;
  font-weight: 500;
}
.landingPageContainer nav .navlist{
  display: flex;
    cursor: pointer;
  gap: 1.6rem;
  list-style: none;
}